<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='/app-styles.css'>
  <link href="/fa/css/fontawesome-all.css" rel="stylesheet">
  <!-- Bootstrap minified CSS -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Comfortaa' rel='stylesheet'>
  <title>---</title>
</head>

<body>
  <div class='signIn'>

  </div>
  <!-- Manage templates modal -->
  <div class='modal fade' id='manageTemplates' tabindex='-1' role='dialog' aria-labelledby='Manage templates' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <span id='manageTemplatesTitle'>Add new template</span>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
        </div>
        <div class='new-template'>
          <form id='templatesForm' action='/add' method='POST' autocomplete='off' id='templatesForm'>
            <div class='row'>

              <div class='col-lg-12'>
                <div class='form-group' style='padding-right: 0px;'>
                  <input type='text' class='form-control' id='name' name='name' required='true' placeholder='Template Name' maxlength='40'>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <textarea rows='0' cols='80' id='body' name='body'></textarea>
            </div>
            <div class='row'>
              <div class='form-group col-lg-6 col-md-6'>
                <label for='Category'>Category</label>
                <select class='form-control' id='category' name='category' required='true'>
                  <option disabled selected value> --Select-- </option>
                  <option>Analytics</option>
                  <option>Audio</option>
                  <option>Diagnostic</option>
                  <option>Error Messages</option>
                  <option>Roster</option>
                  <option>Skills</option>
                  <option>Signing_In</option>
                  <option>SmartScore</option>
                  <option>Other</option>
                </select>
              </div>
              <div class='form-group col-lg-6 col-md-6'>
                <label for='Program'>Program</label>
                <select class='form-control' id='program' name='program' required='true'>
                  <option disabled selected value> --Select-- </option>
                  <option>IXL</option>
                  <option>QW</option>
                  <option>QB</option>
                </select>
              </div>
              <div class='form-group'>
                <input type='hidden' class='form-control' id='id' name='id' required='true'>
                <input type='hidden' id='updatedDate' name='updatedDate' value='error'>
                <input type='hidden' id='addedByUser' name='addedByUser' value='<%= user.email %>'>
                <input type='hidden' id='ranking' name='ranking' value=0>
                <input type='hidden' id='copyFull' name='copyFull' value=0>
                <input type='hidden' id='copyPortion' name='copyPortion' value=0>
                <input type='hidden' id='team' name='team' value='<%= user.team %>'>
                <input type='hidden' id='publicStatus' name='publicStatus' value=false>
                <input type='hidden' id='greeting' name='greeting' value='default'>
                <input type='hidden' id='closing' name='closing' value='default'>
              </div>
            </div>
            <div class='form-group'>
              <input type='text' class='form-control' id='tags' name='tags' required='true' placeholder='Tags'>
            </div>
            <button type='submit' class='btn btn-primary' id='submitBtn'>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End manage templates modal -->

  <!-- Confirm remove modal -->
  <div class='modal fade' id='confirmRemoveDialog' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h4>Are you sure you want to remove: <br>
            <b><span id='confirmRemoveName'>*error*</span></b>?
          </h4>
        </div>
        <div class='modal-footer' id='confirmRemoveModal'>
          <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
          <a class='btn btn-danger btn-ok' id='confirmRemoveBtn' onclick='remove(event)'>Delete</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End modal -->

  <!-- Navbar -->
  <nav class='navbar navbar-default'>
    <div class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <img class="profile-img" src="<%= user.img %>" alt=""></a>
        <ul class="dropdown-menu">
          <li>
            <!-- Shows Hello and users name if user is signed in -->
            <% if (user) { %>
              <li id='greeting'>Hello
                <span id="userFirstName"><%= user.name %></span>!
                <h5 id="userEmail"><%= user.email %></h5>
              </li>
              <% } %>
          </li>
          <li class="divider"></li>
          <li><a id='' href='#manageTemplates' data-toggle='modal' data-target='#manageTemplates' onclick='setTemplateId()'> Add a template</a></li>
          <!-- If user is admin, admin console option is shown -->
          <% if (user.type == 'admin') { %>
            <li><a href="/admin">Admin Console</a></li>
            <% } %>
              <li class="divider"></li>
              <li id="logout"> <button class="btn btn-danger btn-sm" type="button" name="button" onclick="location.href = '/logout';">Logout</button></li>
        </ul>
      </li>
    </div>
  </nav>
  <!-- End navbar -->

  <!-- Header -->
  <div id='header'>
    <h1>Template Search</h1>
  </div>
  <!-- End header -->

  <!-- Spacing -->
  <div class='row space'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <div>
      </div>
    </div>
    <div class='col-lg-3'></div>
  </div>
  <!-- End spacing -->

  <!-- Search bar -->
  <div class='row space'>
    <div class='col-lg-4 col-md-4'></div>
    <div class='col-lg-4 col-md-4'>
      <div class='form-group has-feedback has-clear'>
        <input type='text' class='form-control input-lg' id='search-bar' autofocus="autofocus" placeholder='Search' onkeyup='search()' spellcheck='false'>
        <span id="clear-search" class="glyphicon glyphicon-remove-circle"></span>
      </div>
    </div>
    <div class='col-lg-4 col-md-4'></div>
  </div>
  <!-- End search bar -->


  <!-- Templates -->
  <div class='row space'>
    <div class='col-lg-1 col-md-1'>
    </div>
    <div class='col-lg-12 col-md-12'>
      <ul id='data-table' class='align'>

        <!-- Loop through all templates -->
        <% for(var i = 0; i < templates.length; i++) { %>


          <% for(var m = 0; m < user.programs.length; m++) { %>

            <% if(user.programs[m] == templates[i].program){ %>

              <!-- If template was added by an admin (bcoleman@ixl.com OR template was added by current user, then display) -->
              <% if (templates[i].addedByUser == 'bcoleman@ixl.com' ||
              templates[i].addedByUser == 'salesforce@ixl.com' ||
              templates[i].addedByUser == user.email) { %>


                <% if ((templates[i].publicStatus == 'false' && templates[i].addedByUser == user.email) || (templates[i].publicStatus == 'true')) { %>


                  <li id='<%= templates[i].id %>' class='template'>
                    <!-- Name of the template, check mark shown if id is 'Template-Verified' -->
                    <h2 class='<%= templates[i].category.toLowerCase() %>' id='templateName'>
              <%= templates[i].name %>
              <% if(templates[i].addedByUser == 'salesforce@ixl.com'){ %>
                <i class='fas fa-check' id='verified'></i>
                <% } else { %>

                  <i class="fas fa-exclamation-triangle" id="notVerified"></i>

                <% } %>
              </h2>
                    <div class='details'>
                      <!-- Ranking number (hidden), Template ID, and template last updated date -->
                      <h3 class='line'>
                <span id='templateRanking' hidden>
                  <%= templates[i].ranking %>
                </span>
                <span id='templateCopyFull' hidden>
                  <%= templates[i].copyFull %>
                </span>
                <span id='templateCopyPortion' hidden>
                  <%= templates[i].copyPortion %>
                </span>
                <i id='templateUpdatedDate'>
                  <%= templates[i].updatedDate %>
                </i>
                -
                <span id='templateProgram'>
                  <b><%= templates[i].program.toUpperCase() %></b>
                </span>

              </h3>
                      <!-- Buttons -->
                      <!-- Copy template, greeting, closing, and signature -->
                      <div class='line' id='copyFull'>
                        <button id='copyFullBtn' class='btn line'><i class='far fa-copy fa-lg'></i></button>
                      </div>
                      <!-- Copy template only -->
                      <div class='line' id='copyPortion'>
                        <button id='copyPortionBtn' class='btn line'><i class='fas fa-eye fa-lg'></i></button>
                      </div>
                      <!-- If public is false (meaning this template is for private use) then show these buttons which allows the user to edit, and remove the template -->
                      <% if (templates[i].publicStatus == 'false') { %>
                        <!-- If template was added by user, show edit button -->
                        <% if (templates[i].addedByUser == user.email) { %>
                          <div class='line' id='edit'>
                            <button id='editBtn' class='btn line'><i class='fas fa-pencil-alt fa-lg'></i></button>
                          </div>
                          <% } %>
                            <!-- Clear the rank of this template (will add back in later if needed)
                    <div class='line' id='clearRank'>
                      <button id='clearRankBtn' class='btn line'><i class='fas fa-ban fa-lg'></i></button>
                    </div>
                    -->
                            <!-- If user is admin OR this template was added by current user, show remove button -->
                            <% if (templates[i].addedByUser == user.email) { %>
                              <div class='line' id='removeConfirm'>
                                <button id='removeConfirmBtn' class='btn line'><i class='far fa-trash-alt fa-lg' ></i></button>
                              </div>
                              <% } %>
                                <% } %>
                                  <div class="line">
                                    <span id="copiedAlert" hidden>Copied</span>
                                  </div>
                    </div>
                    <div class='<%= templates[i].category.toLowerCase() %> blur' id='templateBody'>
                      <%- templates[i].body %>
                    </div>
                    <div class='row'>
                      <div class='col-lg-9 col-md-9'>
                        <!-- Template tags and template type (hidden) -->
                        <h3 class='tags' id='templateTags'><%= templates[i].tags %></h3>
                        <h3 class='type' id='templateTeam' hidden><%= templates[i].team %></h3>
                        <h3 class='type' id='templatePublicStatus' hidden><%= templates[i].publicStatus %></h3>
                        <h3 class='type' id='templateReplyEmail' hidden><%= templates[i].replyEmail %></h3>
                        <h3 class='type' id='templateGreeting' hidden><%= templates[i].greeting %></h3>
                        <h3 class='type' id='templateClosing' hidden><%= templates[i].closing %></h3>
                      </div>
                      <div class='col-lg-3 col-md-3'>
                        <!-- Template category -->
                        <h3 class='<%= templates[i].category.toLowerCase() %> line' id='templateCategory'><%= templates[i].category %></h3>
                      </div>
                    </div>
                  </li>


                  <% } %>
                    <% } %>










                      <% } %>

                        <% } %>




                          <% } %>
                            <!-- End For loop -->

      </ul>
    </div>
    <div class='col-lg-1'></div>
  </div>
  <!-- End templates -->

  <!-- Logout -->

  <!-- End Logout -->


</body>

<!-- jquery -->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<!-- Tiny MCE editor for adding and editing templates -->
<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=q4w1ytxm4ft7tl8tg92mbys2kh30beuux061ovviw4oc4pqo'></script>
<!-- Bootstrap -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<!-- Font Awesome icons for buttons -->
<!-- Scipt for main app functionality -->
<script src='app-main.js'></script>
<!-- Script for searching templates -->
<script src='search.js'></script>
<script src='jsforce.js'></script>

</html>