<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='/styles.css'>
  <link rel='stylesheet' href='/search.css'>
  <% if(settings.darkMode){ %>
  <link rel='stylesheet' href='/dark.css'>
  <% } %>
  <!-- Bootstrap minified CSS -->
  <link rel='stylesheet' href='bootstrap.min.css'>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
  <% if(user.email == 'mjenkins@ixl.com'){ %>
  <title>CS3K</title>
  <% } else { %>
  <title>Fetch</title>
  <% }%>
</head>

<body>
  <div class="alertUser" id="alertUser">
  </div>
  <!-- Settings -->

  <!-- End Settings -->

  <!-- Manage templates modal -->
  <%- include include/saveTemplatesModal %>
  <!-- End manage templates modal -->
  <!-- Begin confirm remove modal -->
  <%- include include/deleteTemplateModal %>
  <!-- End confirm remove modal -->
  <!-- Begin snippets modal -->
  <%- include include/snippetsModal %>
  <!-- End snippets modal -->
  <!-- Navbar -->
  <%- include include/navbar %>
  <!-- End navbar -->
  <!-- Header -->
  <%- include include/header %>
  <!-- End header -->
  <!-- Spacing -->
  <div class='row space'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
      <div>
      </div>
    </div>
    <div class='col-lg-3'></div>
  </div>
  <!-- End spacing -->
  <!-- Search bar -->
  <%- include include/searchBar %>
  <!--   End search bar -->
  <!-- Templates -->
  <div class="space">
    <!-- TODO: Work on adding loading icon here -->
    <div class="loader" id="loader">
      <span class="loader1"></span>
      <span class="loader2"></span>
      <span class="loader3"></span>
    </div>
    <ul id='data-table'>
      <%- include include/template %>
    </ul>
  </div>

  <%- include include/noResults %>

  <!-- End templates -->

</body>
<script src='tinymce/tinymce.min.js'></script>
<script src='jquery.min.js'></script>
<script src='app-main.js'></script>
<script src='crud.js'></script>
<script src='quotes.js'></script>
<script src='search.js'></script>
<script src='templates.js'></script>
<script src='bootstrap.min.js'></script>
<script src='nav.js'></script>
<script>
  var currencyArray = <%- JSON.stringify(currency) %>;
  var licensesArray = <%- JSON.stringify(licenses) %>;
  var objectsArray = <%- JSON.stringify(objects) %>;
  var buildingQuote = false;
  var spanishClicked = false;
  var templateId = "";
  var tempArray = [];
  var quoteArray = [{
    "countryCode": null,
    "subjectQuantity": null,
    "subjectQuantityName": null,
    "numberLicenses": null,
    "spanishCost": null,
    "rebateEndDate": null,
    "rebateName": null,
    "cost": null,
    "currencySymbol": null,
    "type": null
  }];
</script>

</html>