<div id="mySidenav" class="vertsidenav">
  <div class="profile">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="profileBackground">

    </div>
    <img class="profileImage" src="<%= user.img %>" alt="">
    <div class="profileName" id="userFirstName">
      <%= user.name %>
    </div>
    <div class="profileTeam">

      <%
      var userTeam = user.team;
      teamFormatted = userTeam.replace(/([A-Z])/g, ' $1').replace(/^./,function(str){ return str.toUpperCase(); })
      %>
      <%= teamFormatted %>
      <h5 id="userEmail" hidden>
        <%= user.email %>
      </h5>
      <h5 id="userTeam" hidden>
        <%= user.team %>
      </h5>
      <h5 id="userType" hidden>
        <%= user.type %>
      </h5>
    </div>
  </div>
  <div class="menuOptions">

    <a href='/templates'>
      <svg class="menuOptionsIcon" aria-hidden="true" data-prefix="fas" data-icon="home" role="img" viewBox="0 0 576 512" data-fa-i2svg="">
        <path fill="currentColor" d="M488 312.7V456c0 13.3-10.7 24-24 24H348c-6.6 0-12-5.4-12-12V356c0-6.6-5.4-12-12-12h-72c-6.6 0-12 5.4-12 12v112c0 6.6-5.4 12-12 12H112c-13.3 0-24-10.7-24-24V312.7c0-3.6 1.6-7 4.4-9.3l188-154.8c4.4-3.6 10.8-3.6 15.3 0l188 154.8c2.7 2.3 4.3 5.7 4.3 9.3zm83.6-60.9L488 182.9V44.4c0-6.6-5.4-12-12-12h-56c-6.6 0-12 5.4-12 12V117l-89.5-73.7c-17.7-14.6-43.3-14.6-61 0L4.4 251.8c-5.1 4.2-5.8 11.8-1.6 16.9l25.5 31c4.2 5.1 11.8 5.8 16.9 1.6l235.2-193.7c4.4-3.6 10.8-3.6 15.3 0l235.2 193.7c5.1 4.2 12.7 3.5 16.9-1.6l25.5-31c4.2-5.2 3.4-12.7-1.7-16.9z"
          id="home">
        </path>
      </svg>Home</a>

    <a href='#manageTemplates' data-toggle='modal' data-target='#manageTemplates' onclick='setTemplateId()'>
      <svg class="menuOptionsIcon" aria-hidden="true" data-prefix="fa" data-icon="plus" role="img" viewBox="0 0 448 512" data-fa-i2svg="">
        <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"
          id="plus"> </path>
      </svg>Add a template
    </a>

    <% if (user.type == 'admin') { %>

      <!-- NOTE:
      <a href="/admin">
      <svg class="menuOptionsIcon" aria-hidden="true" data-prefix="fa" data-icon="wrench" role="img" viewBox="0 0 512 512" data-fa-i2svg="">
      <path fill="currentColor" d="M507.73 109.1c-2.24-9.03-13.54-12.09-20.12-5.51l-74.36 74.36-67.88-11.31-11.31-67.88 74.36-74.36c6.62-6.62 3.43-17.9-5.66-20.16-47.38-11.74-99.55.91-136.58 37.93-39.64 39.64-50.55 97.1-34.05 147.2L18.74 402.76c-24.99 24.99-24.99 65.51 0 90.5 24.99 24.99 65.51 24.99 90.5 0l213.21-213.21c50.12 16.71 107.47 5.68 147.37-34.22 37.07-37.07 49.7-89.32 37.91-136.73zM64 472c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"
      id="wrench"></path>
    </svg>Admin Console
  </a>
     -->
    <a href="/users">
      <svg class="menuOptionsIcon" aria-hidden="true" viewBox="0 0 576 512">
        <path fill="currentColor" d="M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z"
          id="users"></path>
      </svg>
      Users
    </a>
    <a href="/errors">
      <svg class="menuOptionsIcon" aria-hidden="true" role="img" viewBox="0 0 512 512" data-fa-i2svg="">
        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"
          id="errors"></path>
      </svg><span id="errorCount">Errors</span></a>

    <% } %>

    <% if (user.team == 'techSupport') { %>
    <a href="https://docs.google.com/document/d/19HYG9WQJ3L9I4XI1KtYMnaEYqsFYeYDNBe7zI2tYs2k/edit" target="_blank">
      <svg class="menuOptionsIcon" aria-hidden="true" data-prefix="fas" data-icon="book-open" role="img" viewBox="0 0 576 512" data-fa-i2svg="">
        <path fill="currentColor" d="M542.22 32.05c-54.8 3.11-163.72 14.43-230.96 55.59-4.64 2.84-7.27 7.89-7.27 13.17v363.87c0 11.55 12.63 18.85 23.28 13.49 69.18-34.82 169.23-44.32 218.7-46.92 16.89-.89 30.02-14.43 30.02-30.66V62.75c.01-17.71-15.35-31.74-33.77-30.7zM264.73 87.64C197.5 46.48 88.58 35.17 33.78 32.05 15.36 31.01 0 45.04 0 62.75V400.6c0 16.24 13.13 29.78 30.02 30.66 49.49 2.6 149.59 12.11 218.77 46.95 10.62 5.35 23.21-1.94 23.21-13.46V100.63c0-5.29-2.62-10.14-7.27-12.99z"
          id="book"></path>
      </svg>Reference guide</a>
    <a href="https://docs.google.com/document/d/1A4liDtUDJuWWYbSG__KOVYlpMCCmWJmGpqfNqTiu9VE" target="_blank">
      <svg class="menuOptionsIcon" aria-hidden="true" data-prefix="far" data-icon="clock" role="img" viewBox="0 0 512 512" data-fa-i2svg="">
        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"
          id="clock"></path>
      </svg>Processes Doc</a>
    <% } %>
    <% if (user.team == 'teacherMemberships') { %>
    <a href="/quotes" target="_blank">
      <svg class="menuOptionsIcon" aria-hidden="true" data-prefix="fas" data-icon="book-open" role="img" viewBox="0 0 576 512" data-fa-i2svg="">
        <path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"
          id="money"></path>
      </svg>Quotes</a>

    <% } %>

    <a href="/userGuide" target="_blank"><svg class="menuOptionsIcon" aria-hidden="true" data-icon="file" role="img" viewBox="0 0 384 512" data-fa-i2svg="">
        <path fill="currentColor" d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm160-14.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z" id="userGuide"></path>
      </svg>User guide</a>

    <a href="/logout"><svg class="menuOptionsIcon" aria-hidden="true" data-prefix="fas" data-icon="sign-out-alt" role="img" viewBox="0 0 512 512" data-fa-i2svg="">
        <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"
          id="logout"></path>
      </svg>Logout</a>


  </div>

</div>

<span onclick="openNav()">
  <div class="menubar">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</span>
