<%
function compare(a,b) {
if (a.ranking < b.ranking) {
return -1;
}
if (a.ranking > b.ranking){
return 1;
}
return 0;
}
%>
<% templatesArr.sort(compare); %>
<% templates = templatesArr; %>
<% var errorCount = 0; %>
<% var templateCount = 0; %>
<% for(var i = templates.length - 1; i >= 0; i--) { %>
<% if (templates[i].publicStatus == 'true' ||
templates[i].addedByUser == 'salesforce@salesforce.com' ||
templates[i].addedByUser == user.email) { %>
<% if ((templates[i].publicStatus == 'false' && templates[i].addedByUser == user.email) || (templates[i].publicStatus == 'true')) { %>
<% try {
var errorStatus = 'noError';
var errorMessage = '';
var category = templates[i].category.substr(0, 5).toLowerCase();
var program = templates[i].program.toUpperCase();
if(templates[i].name == '' || templates[i].name == null){
throw 'Template name is blank or null';
} else if (templates[i].category == ""){
throw 'Category is blank or null'
}
 } catch (e) {
errorStatus = 'error';
errorMessage = e %>
<% } %>
<%if(errorStatus != 'error') { %>
<%templateCount = templateCount + 1; %>
<%if(templateCount < 17) { %>
<li id='<%= templates[i].id %>' class='template user <%= errorStatus %>'>
  <% } else { %>
<li class='  <%= errorStatus %>' style="display:none">
  <% } %>

  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 nameCol">
      <h2 id='templateName'>
        <%= templates[i].name %>
      </h2>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 vettedCol">
      <span class="tooltiptext"> Updated:
        <%= templates[i].updatedDate %>
        <br> Clicks:
        <%= templates[i].ranking %>
        <br>
        <%= templates[i].addedByUser %> </span>
      <% if(templates[i].vetted == 'Yes'){ %>
      <svg class="overflow" viewBox="0 0 448 512" data-fa-i2svg="">
        <path id="vetted" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
      </svg>
      <% } else if (templates[i].addedByUser == user.email && templates[i].publicStatus == 'false'){ %>
      <svg viewBox="0 0 448 512">
        <path id="notVettedUser" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z"></path>
      </svg>
      <% }else {%>
      <svg class="overflow" viewBox="0 0 448 512" data-fa-i2svg="">
        <path id="notVetted" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path>
      </svg>
      <% } %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <% if(errorStatus == 'error') { %>

      <% } else { %>

      <div class='<%= templates[i].category %> templateBodyUser' ondragover="allowDrop(event)" id='templateBody'>
        <%- templates[i].body %>
      </div>
      <% if(templates[i].versions != null) { %>
      <% var empty = true;
      for(r = 0; r < templates[i].versions.length; r++) {
        if(templates[i].versions[r][1] != '') {
          var empty = false;
          break;
        }
      } %>
      <% if(!empty) { %>
      <div class="versions">
        <% for(k = 0; k < templates[i].versions.length; k++) { %>
        <div class="<%= 'version' + k %>">
          <div class="versionDescription" id="<%= 'versionDescription' + k %>">
            <%= templates[i].versions[k][0];%>
          </div>
          <div id="<%= 'versionBody' + k %>" hidden>
            <%- templates[i].versions[k][1];%>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
      <% } %>
      <% } %>
    </div>
  </div>
  <div class='row'>
</li>
<% } else { %>
<% errorCount = errorCount + 1;%>
<% }%>
<% } %>
<% } %>
<% } %>
<div class='row'>
  <div class='col-lg-7 col-md-7'>
    <h3 class='tags' id="totalErrorCount" hidden>
      <%= errorCount %>
    </h3>
  </div>
</div>