<%
function compare(a,b) {
if (a.ranking < b.ranking) {
return -1;
}
if (a.ranking > b.ranking){
return 1;
}
return 0;
}
%>
<% templatesArr.sort(compare); %>
<% templates = templatesArr; %>
<% var errorCount = 0; %>
<% var templateCount = 0; %>
<% for(var i = templates.length - 1; i >= 0; i--) { %>
<% if (templates[i].publicStatus == 'true' ||
templates[i].addedByUser == 'salesforce@salesforce.com' ||
templates[i].addedByUser == user.email) { %>
<% if (templates[i].vetted == 'Yes') { %>
<% try {
var errorStatus = 'noError';
var errorMessage = '';
var category = templates[i].category.substr(0, 5).toLowerCase();
var program = templates[i].program.toUpperCase();
if(templates[i].name == '' || templates[i].name == null){
throw 'Template name is blank or null';
} else if (templates[i].category == ""){
throw 'Category is blank or null'
}
 } catch (e) {
errorStatus = 'error';
errorMessage = e %>
<% } %>
<%if(errorStatus != 'error') { %>
<%templateCount = templateCount + 1; %>
  <br><br>
<div id='<%= templates[i].id %>' class=' <%= errorStatus %>'>


  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-11 nameCol">
      <div id='templateBodyReview'>
        <b>
          <%= templates[i].name %> <%= "(" + i + ")" %> 
        </b>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <% if(errorStatus == 'error') { %>

      <% } else { %>

      <div class='<%= templates[i].category %>' ondragover="allowDrop(event)" id='templateBodyReview'>
        <%- templates[i].greeting %>
        <br>
        <br>
        <%- templates[i].body %>
        <br>
        <br>
        <%- templates[i].closing %>
      </div>

      <br>
      <br>
      <br>
      <% if(templates[i].versions != null) { %>
      <% var empty = true;
      for(r = 0; r < templates[i].versions.length; r++) {
        if(templates[i].versions[r][1] != '') {
          var empty = false;
          break;
        }
      } %>
      <% if(!empty) { %>
      <div class="versions">
        <% for(k = 0; k < templates[i].versions.length; k++) { %>
        <div class="<%= 'version' + k %>">
          <div class="versionDescription" id="<%= 'versionDescription' + k %>">
            <%= templates[i].versions[k][0];%>
          </div>
          <div id="<%= 'versionBody' + k %>" hidden>
            <%- templates[i].versions[k][1];%>
          </div>
        </div>
        <% } %>
      </div>
      <% } %>
      <% } %>
      <% } %>
    </div>
  </div>
  <div class='row'>
</div>
<% } else { %>
<% errorCount = errorCount + 1;%>
<% }%>
<% } %>
<% } %>
<% } %>
<div class='row'>
  <div class='col-lg-7 col-md-7'>
    <h3 class='tags' id="totalErrorCount" hidden>
      <%= errorCount %>
    </h3>
  </div>
</div>
